{% extends './base.html' %}
{% block contenido  %}
<section class="m-3">
    <h3 class="m-b-2">Registro usuario</h3>
    <form action="{{url_for('registrar')}}" method="post">
        <div class="mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <input autofocus required type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input required type="email" class="form-control" id="email" name="email" placeholder="username@correo.com">
        </div>
        <div class="mb-3">
            <label for="ciudad" class="form-label">Ciudad</label>
            <input required type="text" class="form-control" id="ciudad" name="ciudad" placeholder="ciudad">
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-outline-primary">Registrar</button>
           
   
           
            <a href="{{url_for("all")}}"><button type="button" class="btn btn-outline-primary">mostrar</button></a>
        </div>
    </form>

</section>

{% endblock %}